* {
  box-sizing: border-box;
  margin: 0;
}
body{
  margin: 0;
}

label {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.box-ul-row{
  overflow:hidden
}

.ul-row,.li-row{
  list-style: none;
  white-space: nowrap;
}

.ul-row {
  margin: 0;
  padding: 0;
  height: 300px;
  overflow: scroll;
}

.li-row-item{
  display: inline;
}


.active {
  background: rgba(0, 100, 150, 0.4);
  transition: background 300ms linear;
}

.welcome {
  opacity: 0;
  color: white;
  padding: 50px;
  text-align: center;
  font-size: 50px;
  background-image: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}